@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap');

.collapse {
    margin: 50px
}

.title
{
    display: flex;
}

.collapse_title {
    width: 100%;
    background-color:  #f66464;    
    border: red;
    padding: 6px;
    border-radius: 5px;
    color: white;
    
}

.icon {
left: 85%;
    padding-top: 5px;
    position: absolute;
}

 .content {
    width: 100%;
    background: #ffffff;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 42px;
    text-align: left;
    margin-bottom: 38px;
}




.infocollaps
{
    margin: 0 9px 2px 17px;
    color: red;

}

.infocollapslog
{
    color: red;
}
   
.collapses
{
    display: flex;
}


@media all and (min-width: 768px) and (max-width: 992px) {
   
    .collapse
    {
        margin: 0 7% 0 7%;

    }

}

@media all and  (min-width: 992px){
    .collapse
    {
        margin: 0 7% 0 7%;

    }
}