
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap');


.collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap');



.collapse {
    margin: 5%
}

.title
{
    display: flex;
}

.collapse_title {
    width: 100%;
    background-color:  #f66464;    
    border: red;
    padding: 6px;
    border-radius: 5px;
    color: white;
    
}

.icon {
left: 85%;
    padding-top: 5px;
  
}

.content {
    width: 100%;
    background: #f4f4f4;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 42px;
    text-align: left;
    margin-bottom: 38px;
}

.infocollaps
{
    margin: 0 9px 2px 17px;
    color: red;

}

.infocollapslog
{
    color: red;
}
   



@media all and (min-width: 768px) and (max-width: 992px) {
   
    .collapse
    {
        margin: 0 10% 0 10%;

    }

}

@media all and  (min-width: 992px){
    .collapse
    {
        margin: 0 10% 0 10%;

    }
}
.collapse_title {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    margin-right: 15px;
    font-weight: 500;
    width: 1000px;
}

.title {
    margin-left: 15px;
    font-size: 24px;
}

.icon {
    margin-right: 15px;
}

.collapse_description {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6F6;
    color: #FF6060;
    margin-top: 0px;
    width: 1000px;
}

.info_description {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.collapses {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
 
}

.collapse_title_log {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
}

.title_log {
    margin-left: 10px;
}

.icon {
    color: white;
    font-size: 20px;
}

.collapse_style_des {
    width: 381px;
    /* margin-left: 14px; */
    margin-right: 10px;
    margin-bottom: 49px;
   
}

.collapse_style_equi {
    width: 318px;
    margin-right: 20px;
    margin-bottom: 30px;
    
}

.collapse_description_log {
    color: #FF6060;   
    border-radius: 10px;
    margin-top: 0px;    
}

.list_description{
    height: 200px;
}

.list_equipment{
    margin-top: 0px;    
    height: 200px;
    padding-left: 0px;
}

.info_description_log {
    height: 100px;
    margin-top: 0px;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 42px;
    background-color: #F6F6F6;    
}

.info_description_log_equip {
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #F6F6F6; 
}



@media screen and (max-width: 768px) {
    .collapse {
    display: block;
    
        /* margin-left: 20px; */
    }

    .collapse_title {        
        width: 680px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title {
        margin-left: 30px;
    }

    .collapse_description {
        width: 680px;
        margin-left: 20px;
    }

    .collapses {
        width: 411px;
        display: block;
    }

    .collapse_style_equi {
        margin-left: 6px;
    }

    .info_description_log {
        padding-top: 10px;
    }
}