@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap");

.collapse {
  display: flex;
  flex-direction: column;
 
  margin-top: 40px;
  margin-bottom: 90px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Roboto:wght@300&family=Shrikhand&family=Square+Peg&display=swap");

.collapse {
  margin: 5%;
}

.title {
  display: flex;
}

.collapse_title {
  width: 95%;
  background-color: #f66464;
  border: red;
  padding: 6px;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
  margin-left: 5px;
  
}

.collapse_title {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
  margin-right: 0%;
  margin-left: 5px;
  font-weight: 500;
 
}

.icon {
  left: 85%;
  padding-top: 5px;
}

.content {
  width: 100%;
  background: #f4f4f4;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 42px;
  text-align: left;
  margin-bottom: 38px;
}

.infocollaps {
  margin: 0 9px 2px 17px;
  color: red;
}

.infocollapslog {
  color: red;
}



@media all and (min-width: 393px) and (max-width: 992px) {
  .collapse {
    margin-bottom: 74px;
  }

  .collapses
  {
    width: 80%;
  }

  .collapse_style_des
  {
    width: 52%;
    margin-left: 5%;
    margin-right: 13px;
    margin-bottom: 49px;
    font-size: 13px;
  }

  .title_log
  {
    margin-left: 10px;
    margin-top: 19px;
    margin-right: 6px;
  }

  .icon{
    margin-right: 15px;
  }

  .collapse_description_log{
    margin-top: 0;
  }
  .collapse_style_equi{
    margin: 0;
    width: 65%;
    font-size: 13px;
  }

  
}

@media screen and (min-width: 992px) {
  .collapse {
    margin: 0 10% 0 10%;
  }
}


.title {
  margin-left: 15px;
  font-size: 24px;
}

.icon {
  margin-right: 15px;
}

.collapse_description {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  color: #ff6060;
  margin-top: 0px;
  width: 100%;
}

.info_description {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.collapses {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
}

.collapse_title_log {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
}

.title_log {
  margin-left: 10px;
}

.icon {
  color: white;
  font-size: 20px;
}

.collapse_style_des {
  width: 52%;
  /* margin-left: 14px; */
  margin-right: 10px;
  margin-bottom: 49px;
}

.collapse_style_equi {
  width: 65%;
  margin-right: 20px;
  margin-bottom: 30px;
}

.collapse_description_log {
  color: #ff6060;
  border-radius: 10px;
  margin-top: 0px;
}

.list_description {
  height: 200px;
}

.list_equipment {
  margin-top: 0px;
  height: 200px;
  padding-left: 0px;
}

.info_description_log {
  height: 176px;
  margin-top: 0px;
  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 42px;
  background-color: #f6f6f6;
}

.info_description_log_equip {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}

@media all and (min-width: 281px) and (max-width: 392px) {
  /* .collapse {
    display: block;
    
       
    }

    .collapse_title {        
        width: 680px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title {
        margin-left: 30px;
    }

    .collapse_description {
        width: 680px;
        margin-left: 20px;
    }

    .collapses {
        width: 411px;
        display: block;
    }

    .collapse_style_equi {
        margin-left: 6px;
    }

    .info_description_log {
        padding-top: 10px;
    } */

  .collapses,
  .collapse {
    width: 85%;
    display: flex;
  }

  .collapse_description_des {
    width: 0;
    margin: 0;
  }

  .collapse_title_log {
    justify-content: none;
    width: 99%;
    height: 54px;
  }

  .title_log {
    margin: 0%;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 5px;
  }

  .icon{
    font-size: 20px;
  }

  .list_description {
    height: 249px;
  }

  .info_description_log {
    padding-top: 20px;
    font-size: 14px;
  }

  .collapse_style_des,
  .collapse_style_equi {
    width: 100%;
    margin-right: 0px;
    margin-left: 8px;
  }

  .collapse_description_log
  {
    margin-top: 0;
    margin-left: 0;
  }

}

@media screen and (max-width:232px) {
  .collapse{
    display: block;
    margin-bottom: 50%;
  }

  .collapses
  {
  
    display: block;

  }

  .title_log
  {
    margin-top: 27px;
    font-size: 12px;

  }

  .collapse_style_des, .collapse_style_equi
  {
    width: 92%;
  }

  .info_description_log, .info_description_log_equip
  {
    font-size: 9px;
  }

  .collapse_title
  {
    width: 88%;
  
  }

  .title
  {
    margin-left: 14px;
    font-size: 19px;
    margin-top: 24px;
  }

  .collapse_description
  {
    width: 100%;
    font-size: 12px;
  }
}

@media screen and (min-width:233px) and (max-width:280px){
  .collapse{
    display: flex;
    margin-bottom: 50%;
  }

  .collapses
  {
    width: 53%;
    display: flex;
    margin-left: 6%;

  }

  .title_log
  {
    margin-top: 27px;
    font-size: 12px;

  }

  .collapse_style_des, .collapse_style_equi
  {
    width: 92%;
    margin: 0px;
  }

  .info_description_log, .info_description_log_equip
  {
    font-size: 12px;
  }

  .collapse_title
  {
    width: 95%;
  }

  .title
  {
    margin-left: 14px;
    font-size: 19px;
    margin-top: 24px;
  }

  .collapse_description
  {
    width: 100%;
    font-size: 12px;
  }

  .collapse_title_log
  {
    width: 92%;
  }

  .title_log{
    margin: 8%;
    font-size: 10px;
    width: 92%;
    padding-top: 10px;
  }

  .icon{
    font-size: 11px;
    margin-right: 33px;
  }

  .collapse_description_log
  {
    margin-top: 0;
  }

  .list_description
  {
    height: 249px;
  }
}

/* 
@media screen and (min-width: 233px) and (max-width:296px) {
  .collapse {
    width: 100%;
    display: block;

  }

  .collapse_description_des {
    width: 0;
    margin: 0;
  }

  .collapse_title_log {
    justify-content: none;
  }

  .title_log {
    margin: 0;
    font-size: 14px;
  }

  .list_description {
    height: 249px;
  }

  .info_description_log {
    padding-top: 20px;
    font-size: 12px;
  }

  .collapse_style_des,
  .collapse_style_equi {
    width: 100%;
  }
} */
/* 
@media all and (min-width: 297px) and (max-width: 420px) {
  .collapses,
  .collapse {
    width: 90%;
    display: flex;
  }

  .collapse_description_des {
    width: 0;
    margin: 0;
  }

  .collapse_title_log {
    justify-content: none;
    width: 100%;
  }

  .title_log {
    margin: 9%;
    font-size: 16px;
  }

  .list_description {
    height: 249px;
  }

  .info_description_log {
    padding-top: 20px;
    font-size: 14px;
  }

  .collapse_style_des,
  .collapse_style_equi {
    width: 100%;
  }
} */
