.rate {
    display: flex;
    
    
}

.starColors {
    width: 40px;
    height: 40px;
    color: #FF6060;
    margin-right: 12px;
}

.starWhite {
    width: 40px;
    height: 40px;
    color: #E3E3E3;
    margin-right: 12px;
    
}

@media screen and (max-width: 766px) {
    .rating {
        margin-left: 0px;
        margin-top: 50px;
    }

    .rate{
  
        top: 127px;
        right: 15%;
    }

    .starColors, .starWhite
    {
        width: 25px;
    height: 23px;
    }
}

@media screen and (max-width:296px){
    .starWhite{
        width: 19px;
height: 16px;
margin-right: 32px;
    }

    .starColors{
        height: 16px;
        margin-right: 1px;
        width: 20px;
    }

    .rate{
           
    top: 0px;
    justify-content: flex-end;
    }
}
@media  screen and (max-width: 232px){
.rate{
    
    margin-left: 114px;
    top: 5%;
    margin-right: 0;
}
}


@media screen and (min-width:768px){
.rate{
    top: 4.5rem;
    right: 6%;
    
}


.starColors, .starWhite
{
    width: 20px;
    height: 20px;
    color: #FF6060;
    margin-right: 0px;
}
}



@media screen and (min-width:1390px){
    .rate{
        top: 4.5rem;
        right: 7%;
      
    }
}