.rate {
    display: flex;
    
    
}

.starColors {
    width: 18px;
    height: 18px;
    color: #FF6060;
    margin-right: 5px;
}

.starWhite {
    width: 18px;
    height: 18px;
    color: #E3E3E3;
    margin-right: 5px;
    
}

@media  screen and (max-width: 296px){
.rate{
    
    margin-left: 8px;
    top: 5%;
    margin-right: 5px;
}
}

@media all and (min-width: 297px) and (max-width:399px){
    .rate{
        margin-left: 6%;
        margin-top: -13%;
        margin-bottom: 35px;
    
    }
    
}


@media all and (min-width:400px) and (max-width:767px){

.rating {
    margin-left: 0px;
    margin-top: 50px;
}

.rate{
    margin-top:-6% ;
    margin-left: 22px;
    padding-bottom:20px ;
    
}

.starColors, .starWhite
{
    width: 18px;
height: 18px;
}




}



@media screen and (min-width:768px){
    .rate{
        margin-top: 10px;
        margin-left: 54%;
        margin-bottom: 14px;
    
      
    }
}